/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root{
    --main-text-color:#3d3b48;
    --main-tangible-text-color:#ff7979;
    --main-button-bg-color: #38cc8b;
    --main-add-bg-color: #5e54a4;
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
        url("../fonts/poppins-v20-latin-regular.woff2") format("woff2"), 
        url("../fonts/poppins-v20-latin-regular.woff") format("woff");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src:
        url("../fonts/poppins-v20-latin-500.woff2") format("woff2"), 
        url("../fonts/poppins-v20-latin-500.woff") format("woff"); 
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src:
        url("../fonts/poppins-v20-latin-600.woff2") format("woff2"), 
        url("../fonts/poppins-v20-latin-600.woff") format("woff"); 
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    src:
        url("../fonts/poppins-v20-latin-700.woff2") format("woff2"), 
        url("../fonts/poppins-v20-latin-700.woff") format("woff"); 
}
*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body{
    margin: 0;
    font-family:  "Poppins", "Arial" , sans-serif;
    font-weight: 400;
    background-image: url("../images/bg.jpg");
    background-position: calc(50%) calc(50%);
}

.container {
    width: 1150px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

.site-main {
    padding-top: 121px;
    padding-right: 165px;
    padding-bottom: 121px;
    padding-left: 165px;
}

.main-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.infobox {
    width: 525px;
    margin-right: 15px;
}

.main-text {
    margin-top: 0;
    margin-bottom: 11px;
    font-weight: 700;
    font-size: 50px;
    line-height: 55px;

    letter-spacing: -0.520833px;
    
    color: #fff;
}

.main-description {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;

    color: #fff;
}

.claim-box {
    width: 540px;
}

.link {
    /* width: 540px; */
    /* margin-bottom: 24px; */
    padding-top: 17px;
    padding-right: 110px;
    padding-bottom: 17px;
    padding-left: 111px;

    font-size: 15px;
    line-height: 26px;

    text-decoration: none;


    color: #fff;
    background-color: var(--main-add-bg-color);
    -webkit-box-shadow: 0px 8px 0px #00000025;
            box-shadow: 0px 8px 0px #00000025;
    border-radius: 10px;
}

.link-minibox {
    font-weight: 700;
    font-size: 15px;
    line-height: 26px;

    text-align: center;
    letter-spacing: 0.267857px;

    color: #fff;
}

.input-box {
    margin-top: 32px;
    padding: 40px;
    background: #fff;
    -webkit-box-shadow: 0px 8px 0px #00000025;
            box-shadow: 0px 8px 0px #00000025;
    border-radius: 10px;
}

.user-form{
    display: block;
    width: 460px;
    margin-bottom: 20px;
}

.input-zone{
    width: 100%;
    
    margin-bottom: 6px;
    padding-top: 15px;
    padding-right: 32px;
    padding-bottom: 15px;
    padding-left: 32px;

    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.25px;
    
    color: #3D3B48;
    outline: none;
    background: #fff;
    border: 1px solid #dedede;
    border-radius: 5px;
    caret-color: #5e54a4;
}
.input-zone:focus{
    border: 1px solid #5e54a4;

}
.input-zone::-webkit-input-placeholder{
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;

    letter-spacing: 0.25px;
    
    mix-blend-mode: normal;
    opacity: 0.75;
}
.input-zone::-moz-placeholder{
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;

    letter-spacing: 0.25px;
    
    mix-blend-mode: normal;
    opacity: 0.75;
}
.input-zone:-ms-input-placeholder{
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;

    letter-spacing: 0.25px;
    
    mix-blend-mode: normal;
    opacity: 0.75;
}
.input-zone::-ms-input-placeholder{
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;

    letter-spacing: 0.25px;
    
    mix-blend-mode: normal;
    opacity: 0.75;
}
.input-zone::placeholder{
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;

    letter-spacing: 0.25px;
    
    mix-blend-mode: normal;
    opacity: 0.75;
}
.input-invalid-text{
    display: block;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    /* identical to box height */
    
    text-align: right;
    
    color: var(--main-tangible-text-color);
    opacity: 0;
}
.input-zone:not(:-moz-placeholder-shown):not(:focus):invalid{
    color: var(--main-tangible-text-color);
    border-color: var(--main-tangible-text-color);
    background-image: url("../images/invalid-image.svg");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: right+27px center;
}
.input-zone:not(:-ms-input-placeholder):not(:focus):invalid{
    color: var(--main-tangible-text-color);
    border-color: var(--main-tangible-text-color);
    background-image: url("../images/invalid-image.svg");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: right+27px center;
}
.input-zone:not(:placeholder-shown):not(:focus):invalid{
    color: var(--main-tangible-text-color);
    border-color: var(--main-tangible-text-color);
    background-image: url("../images/invalid-image.svg");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: right+27px center;
}
.input-zone:not(:-moz-placeholder-shown):not(:focus):invalid ~ .input-invalid-text{
    opacity: 1;
}
.input-zone:not(:-ms-input-placeholder):not(:focus):invalid ~ .input-invalid-text{
    opacity: 1;
}
.input-zone:not(:placeholder-shown):not(:focus):invalid ~ .input-invalid-text{
    opacity: 1;
}
/* .input-box-firstname {
} */

/* .input-box-lastname {
} */

/* .input-box-email {
} */

/* .input-box-password {
} */

.input-box-button {
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;
    
    padding-top: 15px;
    padding-right: 144px;
    padding-bottom: 15px;
    padding-left: 143px;
    
    color: #fff;


    background-color: var(--main-button-bg-color);
    border: none;
    -webkit-box-shadow: inset 0px -4px 0px #00000017;
            box-shadow: inset 0px -4px 0px #00000017;
    border-radius: 5px;
}

.input-box-description{
    margin: 0;
    font-weight: 500;
    font-size: 11px;
    line-height: 26px;

    text-align: center;
    
    color: #bab7d4;
}

.input-box-description-link{
    font-weight: 700;
    font-size: 11px;
    line-height: 26px;

    text-decoration: none;
    text-align: center;
    
    color: var(--main-tangible-text-color);
}